{% extends "base.html" %} {% block title %}Home — PyCoLab{% endblock %} {% block content
    %}
    <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    
    <form method="POST">
      <!-- <textarea name="note" id="note" class="form-control"></textarea> -->
      <iframe name="note" id="note"  description= "note" src="https://trinket.io/embed/python/edd948bf08" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
      <!-- <button onclick="myFunction()">Try it</button> -->

    </form>

    {% endblock %}