{% extends "base.html" %} {% block title %}Home — PyCoLab{% endblock %} {% block content
  %}


  <style>
    .form-popup {
      display: none;
      position: relative;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
  
    @media (min-width: 576px) {
    .modal-dialog {
      max-width: 400px;
    }
    .modal-dialog .modal-content {
      padding: 1rem;
    }
  }
  .modal-header .close {
    margin-top: -1.5rem;
  }
 
    
  </style>
    
        <!-- <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" /> -->
        <!-- <title>Simple Sidebar - Start Bootstrap Template</title> -->
        <!-- Favicon-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>

        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        
        <link href="css/styles.css" rel="stylesheet" />
        
        <div class="d-flex" id="wrapper" style="margin-left: -200px;"> 
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light"><i class="fa fa-folder"> {{student.first_name}}</i></div>
                <div class="list-group list-group-flush">

                  <a class="list-group-item list-group-item-action list-group-item-light p-3" ><i class="fa fa-folder"></i> {{task.name}}</a>

                  {% for code in user.codes %}
                  {% if code.task_id == task.id %}
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" onClick="populateData('{{ code.id }}')" href="#!"><i class="fa fa-file"></i> {{ code.name }}</a>
                  <!-- <button type="button" class="btn btn-dark" onClick="saveData({{ code.id }})"> Save</button> -->
                   {% endif %}
                  {% endfor %}
                    
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                      
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalLoginForm"><span class="bi-plus-square-fill" ></span>&nbsp;Create File</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            
                        </div>
                    </div>
                </nav>

                <!-- Page content-->
                <div class="container-fluid">
                    <!-- <iframe name="note" id="note"  description= "note" src="https://trinket.io/embed/python/edd948bf08" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe> -->
                    
                         <textarea name="student_editor" id="student_editor" class="form-control" rows="20" cols="80" readonly > {{data}}</textarea>
                         <br />
                
                </div>
                {% if current_logs%}
                {% for log in current_logs%}
                <br />
                <div class="container-fluid" style="margin-bottom: 20px;">
                  <style>.blue-text {color: #004aad;}</style>
                  <h3 class="blue-text">Collaboration {{ loop.index }}</h3>
                  <h4>Before collaboration</h4>
                       <textarea name="student_editor" id="student_editor" class="form-control" rows="10" cols="80" readonly >  {{log.before}}</textarea>
                       <br/>
                       <h4>Error Type: {{log.error_type}}</h4>
                       <textarea name="student_editor" id="student_editor" class="form-control" rows="10" cols="80" readonly > {{log.output}}</textarea>
                       <br/>
                       <h4>After collaboration with {{log.helper_name}}</h4>
                       <textarea name="student_editor" id="student_editor" class="form-control" rows="10" cols="80" readonly > {{log.after}}</textarea>
              </div>
            
              {% endfor %}
              {% endif %}

            </div>
        </div>

       <!-- modal form -->


    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 200px;">
      <div class="modal-content">
        <form  method="POST"  action ="/add_files">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Create a new file</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
            <div class="md-form mb-4">
              <input type="text" class="form-control" name="name" id="name" placeholder="Title">
            </div>
            <div class="md-form mb-4">
              <select class="form-control" name="language" id="language">
                <option value="python">Python (.py)</option>
              </select>
            </div>
            <button type="submit" name="add_button" id="add_button" class="btn btn-blue btn-block btn-round text-white">Create</button>
        </form>
        </div>
  
      
      </div>
    </div>  
      
{% endblock %}